.task-list-container {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-list {
  width: 100%;
  max-width: 600px;
  padding: 20px;
}

.task-list-item {
  border: 1px solid #bdbdbd;
  margin-bottom: 20px;
  padding: 15px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  border-radius: 5px;
}

.task-list-item h4 {
  margin-bottom: 10px;
}

.task-list-item button {
  background-color: #0e1a58;
  color: #fff;
  padding: 6px 12px;
  border-radius: 5px;
}

.task-list-item button:hover {
  opacity: 0.9;
}

.fadeout {
  display: none;
}

/* ------------------------------------- */

.task-list-edit {
  border: 1px solid #bdbdbd;
  width: 100%;
  margin-bottom: 20px;
  display: none;
}

.show {
  display: block;
}

/* ----------------------------- */

.edit-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-form {
  width: 100%;
  max-width: 600px;
  padding: 20px;
}

.task-input-field {
  width: 100%;

  margin-top: 20px;
}

.task-input-field label {
  display: block;
  font-size: 1.2rem;
}

.task-input-field input {
  border: 1px solid #424242;
  width: 100%;
  padding: 6px;
  margin-top: 10px;
  border-radius: 5px;
  outline: none;
}

.task-input-field input:focus {
  border: 2px solid #0e1a58;
}

.edit-form button {
  background-color: #0e1a58;
  color: #fff;
  float: right;
  margin-top: 20px;
  padding: 6px 14px;
  border-radius: 5px;
}

.edit-form button:hover {
  opacity: 0.9;
}
